/**Global styles*/
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.center {
  text-align: center;
}
.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.full-width {
  width: 100%;
}
.background-black {
  background-color: black;
}
.background-gray {
  background-color: gray;
}
.margin-small {
  margin: 1rem;
}
.padding-small {
  padding: 1rem;
}

/**Slecific styles*/
.logo {
  width: 4rem;
}
.logo-small {
  width: 2rem;
}
.logo-big {
  width: 8rem;
}
