/**Global styles*/
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.center {
  text-align: center;
}
.full-width {
  width: 100%;
}
.width-half {
  width: 50%;
}
.width-seven-five {
  width: 75%;
}
/*
* Flex Styles
*/
.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}

/*
* Margin-Padding
*/
.margin-small {
  margin: 0.5rem;
}
.padding-small {
  padding: 0.5rem;
}
.margin-child-small * {
  margin: 0.5rem;
}
.margin-left-auto {
  margin-left: auto;
}
.margin-right-auto {
  margin-right: auto;
}

/*
* IMG styles
*/
.logo {
  width: 4rem;
}
.logo-small {
  width: 2rem;
}
.logo-wide {
  width: 8rem;
}

/*
* Other 
*/
.disable-textdecorations {
  text-decoration: none;
}
.disable-child-textdecorations * {
  text-decoration: none;
}

/*
* Specific styles
*/
.button {
  text-decoration: none;
  text-align: center;
  align-self: center;
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--accent2);
}
