:root {
  --main-clr: #c2fff8;
  --new-color: #c9ffcd;
  --accent: #0ef6cc;
  --white: #f4fefd;
  --black: #1b2223;
  --accent2: #3a4f50;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.red {
  background-color: #cd5c5c !important;
}
.black {
  background-color: var(--black) !important;
}
.white {
  background-color: var(--white) !important;
}
.title-section {
}
.header-1 {
  width: 100%;
}
.small-wrap {
  position: relative;
  width: 100%;
  margin: 15px;
}
.small-wrap > h2 {
  margin-top: 1em;
  margin-bottom: 5em;
}
.next {
  cursor: pointer;
  border: rgb(158, 157, 157) 1px solid;
  background-color: white;
  border-radius: 25px;
  width: 5rem;
  height: 2rem;
}
.part {
  border-radius: 0.5em;
  margin: 0.5em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  height: 5em;
  background-color: #93c2bc;
  justify-content: space-between;
}
shit {
  color: red;
}
.btn-small {
  cursor: pointer;
  width: fit-content;
  height: 2em;
  background-color: rgb(255, 255, 255);
  border: rgb(158, 157, 157) 1px solid;
  margin: 0.25em;
  border-radius: 25px;
  padding: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.btn-wide {
  cursor: pointer;
  width: 100%;
  height: 2em;
  background-color: rgb(255, 255, 255);
  border: rgb(158, 157, 157) 1px solid;
  margin: 0.25em;
  border-radius: 25px;
  padding: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.btn-new {
  border: none;
  background-color: var(--accent);
  border-radius: 10px;
  cursor: pointer;
  height: 2.5em;
  margin: 0.1em;
  margin-left: 7px;
  margin-right: 7px;
  padding: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.grid-holder p {
  float: left;
  color: var(--black);
  margin-bottom: 10px;
}
.grid-holder {
  padding: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
}
.grid-choose {
  margin-bottom: 1em;
  width: 100%;
  height: 6em;
  padding: 0.5em;
  display: flex;
  background-color: var(--accent2);
  color: var(--white);
  justify-content: space-between;
  border-radius: 10px;
}
.grid-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.grid-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.fa-cog {
  font-size: 1.5rem !important;
  color: var(--accent);
}
.go-back-button {
  position: absolute;
  font-size: 4em;
}
.dialog-window {
  color: var(--white);
  border-radius: 1em;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 1em;
  background-color: var(--accent2);
  transition: all 0.5s;
  bottom: -50vh;
}
.dialog-move {
  bottom: 10vh !important;
  position: absolute;
}
.full-outer {
  display: flex;
}
.sidebar {
  padding: 0.75em;
  width: 10%;
  background-color: darkslategray;
  color: white;
}
.sidebar-element {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.sidebar-element > a {
  color: white;
  text-decoration: none;
}
.sidebar-data {
  margin-top: 1em;
}
.preview-title {
  text-align: left;
}
.editor-title {
  text-align: left;
}
.part-preview {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.table-block {
  margin-top: 1em;
  width: 100%;
  height: auto;
  border: solid rgb(240, 120, 120) 2px;
  border-radius: 1em;
  padding: 0.5em;
}
.table-block:hover {
  background-color: rgba(255, 30, 0, 0.26);
  border-color: rgb(0, 0, 0);
}
.table-block-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.table-block-info-controls {
}
.table-block-info-controls .fas {
  color: var(--black);
}
.components {
  width: 45%;
}
.btn-fw-holder {
  display: flex;
  justify-content: center;
  width: 100%;
}
